<html>
   <body>
      &nbsp
      <p><center><font size="6">Welcome to Toy App of Chapter 2</font></center></p>
      &nbsp
      <center><div style="width:300px;height:80px;border:1px solid #000;">
         <p><b><center><a href="https://ag-ror-sdm942-toyapp.herokuapp.com/users">Users List</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a href="https://ag-ror-sdm942-toyapp.herokuapp.com/users/new">Creat New User</a></center></b></p>
         <p><b><center><a href="https://ag-ror-sdm942-toyapp.herokuapp.com/microposts">Microposts List</a> &nbsp &nbsp
            <a href="https://ag-ror-sdm942-toyapp.herokuapp.com/microposts/new">Creat New Post</a></center></b></p>
      </div></center>
   </body>
</html>